<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!--Application config-->
  <appSettings>
    <add key="AppBrowser" value="Firefox" />
    <add key="SeleniumHubUrl" value="http://192.168.189.109:4444/wd/hub" />
    <add key="grid" value="no" />
  </appSettings>
  
  <!--System referrence config-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
